.nav{
   &__toggler{
       border: none;
       background-color: transparent;
       width: 45px;
       height: 45px;
       padding: 0;
       margin: 0;
       text-decoration: none;

   } 
   &__list{
       display: none;
       text-decoration: none;
   }
   &__contact{
       display: none;
   }

    &__item {
        text-decoration: none;

    }
    &__link {
        text-decoration: none;


    }
    &__connect {
        text-decoration: none;
    }
  
}