.nav{
   &_toggler{
       border: none;
       background-color: transparent;
       width: 45px;
       height: 45px;
       padding: 0;
       margin: 0;
   } 
   &_list{
       display: none;
   }
   &_contact{
       display: none;
   }
}